{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
			<dl>
				<dt>Title:
				<dd><input type=text size=30 name=title>
				<dt>Link:
				<dd><input type=text size=50 name=link>
				<dt>Comments:
				<dd><textarea name=comments rows=3 cols=50></textarea>
				<dd><input type=submit value=Add>
			</dl>
		</form>
	{% endif %}
	<ul class=entries>
	{% for entry in entries %}
		<li><a class=entry href="{{ entry.link }}">{{ entry.title }}</a>
		<p class=comment>{{ entry.comments }}</p>
	{% else %}
		<li>No links posted yet.
	{% endfor %}
	</ul>
{% endblock %}
