<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width" />
		<title>
		{% if g.user.is_authenticated() %}
			fishnet--{{user.name}}
		{% else %}
			Welcome to fishnet
		{% endif %}
		 </title>
	<link rel="stylesheet" href="/static/css/normalize.css" />
	<link rel="stylesheet" href="/static/css/foundation.css/?v=2" />
	<script src="/static/js/vendor/custom.modernizr.js"></script>
</head>
<body>
	<nav class="top-bar contain-to-grid fixed">
		<ul class="title-area">
			<li class="name">
				<h1><a href="{{ url_for('index') }}">fishnet</a></h1>
			</li>
		</ul>
		<section class="top-bar-section">
		{% if g.user.is_authenticated() %}
			<ul class="left">
				<li class="divider"></li>
				<li><a href="{{ url_for('newlink') }}"> Add Link</a></li>
				<li class="divider"></li>
				<li><a href="{{ url_for('newfolder') }}">Add Folder</a></li>
				<li class="divider"></li>
			</ul>
			<ul class="right">
				<li class="divider"></li>
				<li><a href="{{ url_for('user', name = g.user.name) }}">Profile</a></li>
				<li class="divider"></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		{% else %}
			<ul class="right">
				<li class="divider"></li>
				<li><a href="{{ url_for('register') }}">Register</a></li>
				<li class="divider"></li>
				<li><a href="{{ url_for('login') }}">Login</a></li>
			</ul>
		{% endif %}
		</section>
	</nav>
	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="row bigrowtop">
				<div data-alert class="alert-box radius large-6 large-offset-3">
					{{ message }}
				</div>
			</div>
			{% endfor %}

	<div class="row">
		{% else %}
	<div class="row rowtop">
		{% endif %}
	{% endwith %}
		<div class="large-10 large-offset-1">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<script>
		document.write('<script src=' +
		('__proto__' in {} ? '/static/js/vendor/zepto' : '/static/js/vendor/jquery') +
		'.js><\/script>')
		</script>
		<script src="/static/js/foundation/foundation.js"></script>
		<script src="/static/js/foundation/foundation.alerts.js"></script>
		<script src="/static/js/foundation/foundation.forms.js"></script>
		<!-- <script src="/static/js/foundation/foundation.joyride.js"></script> 
		<script src="/static/js/foundation/foundation.cookie.js"></script>
		<script src="/static/js/foundation/foundation.section.js"></script> -->
		<script src="/static/js/foundation/foundation.placeholder.js"></script>
		<script src="/static/js/foundation/foundation.topbar.js"></script>
		<script>
			$(document).foundation();
	</script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-42249677-1', 'herokuapp.com');
	  ga('send', 'pageview');
	</script>
</body>
</html>
