{% extends 'base.html' %}

{% block content %}

<form action='' method='post' name='changepass'>
	<fieldset>
		<legend>Change Password</legend>
		{{ form.hidden_tag() }}

		<span class="form-label"> 
			<label>Current Password</label>
		</span>
		<span class="form-field">
			{{ form.oldPass(size=30) }}
		</span>
		<br>
		<span class="form-label"> 
			<label>New Password</label>
		</span>
		<span class="form-field">
			{{ form.newPass(size=30) }}
		</span>
		<br>
		<span class="form-label invisible"> 
			Submit
		</span>
		<span class="form-field">
			<input type="submit" value="Change" class="button">
		</span>
		
	</fieldset>
</form>


{% endblock %}