{% extends 'base.html' %}
{% block content %}

<form action="" method="post" name="newlink">
	<fieldset>
		<legend>Edit Link</legend>
		{{ form.hidden_tag() }}
		<span class="form-label"> 
			<label>Title</label>
		</span>
		<span class="form-field">
			{{ link.title }}
		</span>
		<br>
		<span class="form-label"> 
			<label>Link</label>
		</span>
		<span class="form-field">
			<a class="pink-link" href="{{ link.url }}" target="_blank">{{ link.url }}</a>
		</span>
		<br>
		<span class="form-label"> 
			<label>Annotation</label>
		</span>
		<span class="form-field">
			{{ form.annotation(cols=50, rows=5) }}
		</span>
		
		<span class="form-label"> 
			<label><br><br>Folder</label>
		</span>
		<span class="form-field"><b><br></b>
			{{ form.folder(size=5) }}
		</span>
		<br>
		<span class="form-label invisible"> 
			Submit
		</span>
		<span class="form-field">
			<input type="submit" value="Save Changes" class="button">
		</span>
		<br>
		<span class="form-label invisible"> 
			Submit
		</span>
		<span class="form-field">
			<a class="pink-link" href="{{ url_for('deletelink', id = link.id) }}">Delete Link</a>
		</span>


	<h3 class="subheader"></h3>

	</fieldset>
</form>

{% endblock %}