{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="edit">
	<fieldset>
		<legend>Edit Profile</legend>
		{{ form.hidden_tag() }}

		<span class="form-label"> 
			<label>Name</label>
		</span>
		<span class="form-field">
			{{ form.name(size=40) }}
		</span>
		<br>
		<span class="form-label"> 
			<label>About Me</label>
		</span>
		<span class="form-field">
			{{ form.about_me(cols=40, rows=3) }}
		</span>
		<br>
		<span class="form-label invisible"> 
			Submit
		</span>
		<span class="form-field">
			<input type="submit" value="Save Changes" class="button">
		</span>
		
	</fieldset>
</form>


{% endblock %}
