{% extends "base.html" %}

{% block content %}
<h1 class="subheader">
	{{folder.label}}
	<small> by <a href="{{url_for('user', name = user.name)}}">{{user.name}}</a></small>
</h1>

{% if folder.user_id == g.user.id %}
	<h6 class="subheader">Change visibility to:
	{% if folder.visibility != 0 %}
		<a href="{{url_for('vis_to', folderid = folder.id, vis_set = 0)}}">Private</a> |
	{% endif %}
	{% if folder.visibility != 1 %}
		 <a href="{{url_for('vis_to', folderid = folder.id, vis_set = 1)}}">Visible with Link</a>
	{% endif %}
	{% if folder.visibility != 2 %}
		| <a href="{{url_for('vis_to', folderid = folder.id, vis_set = 2)}}">Public</a><br>
	{% endif %}
	<br><br>
{% endif %}

{% for link in folder.links %}
	<fieldset class="link">
		<h3 class="subheader">
			<a class=link href="{{link.url}}" target="_blank">{{link.title}}</a>
		<small> {{link.annotation}}
			{% if link.user_id == g.user.id %}
			</small><small class="really-small">
				   <a href={{ url_for('editlink', id = link.id) }}>edit</a>
			{% endif %} 
		</small>
		</h3>
	</fieldset>
{% endfor %}
{% endblock %}
