{% extends "base.html" %}

{% block content %}
	<span class="folder-title">{{folder.label}}</span>
	<span class="folder-owner">by <a href="{{url_for('user', name = user.name)}}">{{user.name}}</a></span>
	<br>

{% if folder.user_id == g.user.id %}
	Change visibility to:
	{% if folder.visibility != 0 %}
		<a class="set-vis" href="{{url_for('vis_to', folderid = folder.id, vis_set = 0)}}">Private</a> | 
	{% endif %}
	{% if folder.visibility != 1 %}
		 <a class="set-vis" href="{{url_for('vis_to', folderid = folder.id, vis_set = 1)}}">Visible with Link</a>
	{% endif %}
	{% if folder.visibility != 2 %}
		| <a class="set-vis" href="{{url_for('vis_to', folderid = folder.id, vis_set = 2)}}">Public</a><br>
	{% endif %}
{% endif %}

{% for link in folder.links %}
	<fieldset class="link">
		<a class="link-title" href="{{link.url}}" target="_blank">{{link.title}}</a><br>
		<span class="link-annotation">{{link.annotation}}
			{% if link.user_id == user.id %}
				   <a class="link-edit" href={{ url_for('editlink', id = link.id) }}>edit</a><br>
			{% else %}
				<br>
			{% endif %} 
		</span>
	</fieldset>
{% endfor %}
{% endblock %}
