{% extends "base.html" %}
{% block content %}
<h1 class="subheader">{{user.name}}'s fishnet</h1>

{% for folder in sortedLinks.keys() %}
	<fieldset>
	<legend>
		<a href="{{url_for('folder', name=g.user.name, label=folder.label)}}">{{folder.label}}</a>
	</legend>
	{% for link in sortedLinks[folder] %}
		<h3 class="subheader">
			<a class=link href="{{link.url}}">{{link.title}}</a>
		<small> {{link.annotation}}
			{% if link.user_id == user.id %}
			</small><small class="really-small">
				   <a href={{ url_for('delete', id = link.id) }}>X</a>
			{% endif %} 
		</small>
		</h3>
	{% endfor %}
	</fieldset>
{% endfor %}
{% endblock %}
