{% extends 'base.html' %}

{% block content %}

<form action='' method='post' name='login'>
	<fieldset>
		<legend>Login</legend>
		{{form.hidden_tag()}}
		<span class="form-label"> 
			<label>Email</label>
		</span>
		<span class="form-field">
			{{ form.email(size=25) }}
		</span>
		<span class="form-label"> 
			<label>Password</label>
		</span>
		<span class="form-field">
			{{ form.pswd(size=10) }}
		</span>
		<span class="form-label invisible"> 
			Submit
		</span>
		<span class="form-field">
			<input type="submit" value="Login" class="button">
		</span>
	</fieldset>
</form>


{% endblock %}
