{% extends 'base.html' %}

{% block content %}
<form action="" method="post" name="newfolder">
	<fieldset>
		<legend>New Folder</legend>
		{{ form.hidden_tag() }}
		<span class="form-label"> 
			<label>Label</label>
		</span>
		<span class="form-field">
			{{ form.label(size=30) }}
		</span>
		<br>
		<span class="form-label"> 
			<label>Visibility</label>
		</span>
		<span class="form-field">
		 	<label for="visibility-0">
				<input class="radio" id="visibility-0" name="visibility" type="radio" value="0" style="margin-left: .5em;" >
				<span class="radio"></span>Private
			</label>

			<label for="visibility-1">
				<input class="radio" id="visibility-1" name="visibility" type="radio" value="1" style="margin-left: 1em;" >
				<span class="radio"></span>
				Visible with Link
			</label>

			<label for="visibility-2">
				<input class="radio" id="visibility-2" name="visibility" type="radio" value="2" style="margin-left: 1em;" >
				<span class="radio"></span>
				Public
			</label>		
		</span>
	 	
		<br>
		<span class="form-label invisible"> 
			Submit
		</span>
		<span class="form-field">
			<input type="submit" value="Add Folder" class="button">
		</span>

	</fieldset>
</form>

{% endblock %}
