{% extends 'base.html' %}

{% block content %}
<form action="" method="post" name="newlink">
	<fieldset>
		<legend>New Link</legend>
		{{ form.hidden_tag() }}

		<span class="form-label"> 
			<label>Title</label>
		</span>
		<span class="form-field">
			{{ form.title(size=40) }}
		</span>
		<br>
		<span class="form-label"> 
			<label>Link</label>
		</span>
		<span class="form-field">
			{{ form.url(size=40) }}
		</span>
		<br>
		<span class="form-label"> 
			<label>Annotation</label>
		</span>
		<span class="form-field">
			{{ form.annotation(cols=50, rows=5) }}
		</span>
		
		<span class="form-label"> 
			<label><br><br>Folder</label>
		</span>
		<span class="form-field"><b><br></b>
			{{ form.folder(size=5) }}
		</span>
		<br>
		<span class="form-label invisible"> 
			Submit
		</span>
		<span class="form-field">
			<input type="submit" value="Add link" class="button">
		</span>
		
	</fieldset>

</form>
{% endblock %}
