{% extends 'base.html' %}

{% block content %}

<h1 class="subheader"> Register </h1>
<form action='' method='post' name='register'>
	{{form.hidden_tag()}}
	<div class="row">
		<div class="small-6 small-offset-1 columns">
			<label>Name:</label>
			{{ form.name(size=40) }}
		</div>
	</div>
	<div class="row">
		<div class="small-6 small-offset-1 columns">
			<label>Email:</label>
			{{ form.email(size=40) }}
		</div>
	</div>
	<div class="row">
		<div class="small-4 small-offset-1 columns">
			<label>Password:</label>
			{{ form.pswd(size=40) }}
		</div>
	</div>
	<div class="row">
		<div class="small-3 small-offset-1 columns">
			<input type="submit" value="Login" class="button">
		</div>
	</div>
</form>


{% endblock %}
