{% extends "base.html" %}

{% block content %}
<!-- ABOUT USER INFO -->
<div class="header">
<span class="profile-title">{{user.name}}'s fishnet</span>
	{% if user.about_me %}
	<span class="profile-about">
		<br>{{user.about_me}}
	</span>
	{% endif %}
	<span class="profile-edit">
		{% if user.id == viewer.id %}
			<br>
			<a href="{{url_for('edit', user = g.user.id)}}">Edit</a> | 
			<a href="{{ url_for('changepass') }}">Change Password</a>
		{% else %}
			{% with folder = viewer.folders.filter_by(label = 'Connections').first() %}
			{% if folder == None %}
				<a href="{{url_for('connect', userid = user.id)}}">Connect to {{user.name}}</a>
			{% else %}
				{% with address = url_for('user', name = user.name) %}
				{% with connected = folder.links.filter_by(url = address).all() %}
				{% if connected[0] %}
				{% else %}
					<a href="{{url_for('connect', userid = user.id)}}">Connect to {{user.name}}</a>
				{% endif %}
				{% endwith %}
				{% endwith %}
			{% endif %}
			{% endwith %}
		{% endif %}
	</span>
</div>

<!-- LEFT NAV MENU -->
<div class="left-nav">
	{% for folder in sortedLinks.keys() %}
		<a class="left-folder-link" href="#{{folder.label}}">{{folder.label}}</a><br>
	{% endfor %}
</div>

<div class="main-display">
	
<!-- {% if user.last_seen %}<em>Last seen on: {{user.last_seen}} </em>{% endif %} -->

<!-- CENTER FOLDERS W/ LINKS -->
{% for folder in sortedLinks.keys() %}
	{% if user == g.user or folder.visibility == 2 %}
		<fieldset>
		<legend>
			<a href="{{url_for('folder', name=user.name, label=folder.label)}}">{{folder.label}}</a>
		</legend>
		{% for link in sortedLinks[folder] %}
			<a class="link-title" href="{{link.url}}" target="_blank">{{link.title}}</a><br>
			<span class="link-annotation">{{link.annotation}}
				{% if link.user_id == g.user.id %}
					   <a class="link-edit" href={{ url_for('editlink', id = link.id) }}>edit</a><br>
				{% else %}
					<br>
				{% endif %} 
			</span>
		{% endfor %}
		</fieldset>
	{% endif %}
{% endfor %}
</div>





{% endblock %}



